# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.idea/
pids
*.pid
*.seed
*.pid.lock
node_modules/
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.cache
.parcel-cache
out
dist
.cache/