<div class="flex flex-center flex-gap-8 settings-item">
    <div class="icon">
        <span class="material-symbols-outlined">work_update</span>
    </div>
    <span class="name flex-grow">{{settings.game.autoInstallDeps}}</span>
    <label class="switch" data-setting="autoInstallDeps">
        <input type="checkbox">
        <span class="inner"></span>
    </label>
</div>

<div class="flex flex-center flex-gap-8 settings-item">
    <div class="icon">
        <span class="material-symbols-outlined">terminal</span>
    </div>
    <span class="name flex-grow">{{settings.game.consoleOnStart}}</span>
    <label class="switch" data-setting="consoleOnStart">
        <input type="checkbox">
        <span class="inner"></span>
    </label>
</div>

<div class="flex flex-center flex-gap-8 settings-item">
    <div class="icon">
        <span class="material-symbols-outlined">bug_report</span>
    </div>
    <span class="name flex-grow">{{settings.game.consoleOnCrash}}</span>
    <label class="switch" data-setting="consoleOnCrash">
        <input type="checkbox">
        <span class="inner"></span>
    </label>
</div>

<div class="flex flex-center flex-gap-8 settings-item">
    <div class="icon">
        <span class="material-symbols-outlined">hide</span>
    </div>
    <span class="name flex-grow">{{settings.game.hideOnStart}}</span>
    <label class="switch" data-setting="hideLauncherOnStart" data-checked>
        <input type="checkbox">
        <span class="inner"></span>
    </label>
</div>