<div class="flex flex-center flex-gap-8 settings-item">
    <div class="icon">
        <span class="material-symbols-outlined">translate</span>
    </div>
    <span class="name flex-grow">{{settings.personalization.language}}</span>
    <div class="checksList" id="languages-list">
        <div class="item placeholder" style="display: none;" onclick="FrogTranslator.setCurrentLanguage('$4')"
             data-lang="$4">
            <div class="text" style="display: flex; justify-content: center; flex-direction: column">
                <span>$1 <sup>by $3</sup></span>
                <span>$2</span>
            </div>
            <span class='check material-symbols-outlined'>check</span>
        </div>
    </div>
</div>

<div class="flex flex-center flex-gap-8 settings-item">
    <div class="icon">
        <span class="material-symbols-outlined">palette</span>
    </div>
    <div class="flex flex-grow flex-col flex-justify-center">
        <span class="name">{{settings.personalization.mainColor.title}}</span>
        <span class="description">{{settings.personalization.mainColor.description}}</span>
    </div>
    <div class="color-picker" style="background: #0a73ff;">
        <span class="material-symbols-outlined">check</span>
    </div>
    <div class="color-picker" style="background: #0db7ff;">
        <span class="material-symbols-outlined">check</span>
    </div>
    <div class="color-picker" style="background: #6303ca;">
        <span class="material-symbols-outlined">check</span>
    </div>
    <div class="color-picker" style="background: #f5254a;">
        <span class="material-symbols-outlined">check</span>
    </div>
    <div class="color-picker" style="background: #b8911a;">
        <span class="material-symbols-outlined">check</span>
    </div>
    <div class="color-picker" style="background: #26d958;">
        <span class="material-symbols-outlined">check</span>
    </div>
    <div class="color-picker" style="background: #9c3cd6;">
        <span class="material-symbols-outlined">check</span>
    </div>
    <div class="color-picker" style="background: #19b685;">
        <span class="material-symbols-outlined">check</span>
    </div>
</div>

<!-- Настройка dark mode -->
<div class="flex flex-center flex-gap-8 settings-item">
    <div class="icon">
        <span class="material-symbols-outlined">dark_mode</span>
    </div>
    <div class="flex flex-grow flex-col flex-justify-center">
        <span class="name">{{settings.personalization.darkMode.title}}</span>
        <span class="description">{{settings.personalization.darkMode.description}}</span>
    </div>
    <div class="placeholder dark" data-mode="dark">
        <div class="left"></div>
        <div class="bottom-1"></div>
        <div class="bottom-2"></div>
        <div class="main"></div>
    </div>
    <div class="placeholder light" data-mode="light">
        <div class="left"></div>
        <div class="bottom-1"></div>
        <div class="bottom-2"></div>
        <div class="main"></div>
    </div>
</div>

<!-- Выбор обоев -->
<div class="flex flex-center flex-gap-8 settings-item">
    <div class="icon">
        <span class="material-symbols-outlined">image</span>
    </div>
    <div class="flex flex-grow flex-col flex-justify-center">
        <span class="name">{{settings.personalization.background.title}}</span>
        <span class="description">{{settings.personalization.background.description}}</span>
    </div>
    <img src="assets/backgrounds/min/1.webp" alt="Обои 1" data-wp="1" class="wp-item"/>
    <img src="assets/backgrounds/min/2.webp" alt="Обои 2" data-wp="2" class="wp-item"/>
    <img src="assets/backgrounds/min/3.webp" alt="Обои 3" data-wp="3" class="wp-item"/>
    <img src="assets/backgrounds/min/4.webp" alt="Обои 4" data-wp="4" class="wp-item"/>
    <img src="assets/backgrounds/min/5.webp" alt="Обои 5" data-wp="5" class="wp-item"/>
    <div class="wp-item placeholder" data-wp="custom">
        <span class="material-symbols-outlined">add</span>
    </div>
</div>

<div class="flex flex-center flex-gap-8 settings-item">
    <div class="icon">
        <span class="material-symbols-outlined">lens_blur</span>
    </div>
    <div class="flex flex-grow flex-col flex-justify-center">
        <span class="name">{{settings.personalization.disableCss.title}}</span>
        <span class="description">{{settings.personalization.disableCss.description}}</span>
    </div>
    <label class="switch" data-setting="disableCssEffects">
        <input type="checkbox">
        <span class="inner"></span>
    </label>
</div>

<div class="flex flex-center flex-gap-8 settings-item">
    <div class="icon">
        <span class="material-symbols-outlined">animation</span>
    </div>
    <div class="flex flex-grow flex-col flex-justify-center">
        <span class="name">{{settings.personalization.disableAnimations.title}}</span>
        <span class="description">{{settings.personalization.disableAnimations.description}}</span>
    </div>
    <label class="switch" data-setting="disableAnimations">
        <input type="checkbox">
        <span class="inner"></span>
    </label>
</div>