<div class="tabs vertical bg">
    <div class="tab active" data-tab="personalization">
        <div class="icon">
            <span class="material-symbols-outlined">format_paint</span>
        </div>
        <span>{{settings.sections.personalization}}</span>
    </div>

    <div class="tab" data-tab="game">
        <div class="icon">
            <span class="material-symbols-outlined">sports_esports</span>
        </div>
        <span>{{settings.sections.game}}</span>
    </div>

    <div class="tab" data-tab="startup">
        <div class="icon">
            <span class="material-symbols-outlined">restart_alt</span>
        </div>
        <span>{{settings.sections.startup}}</span>
    </div>

    <div class="tab" data-tab="java">
        <div class="icon">
            <span class="material-symbols-outlined">web_asset</span>
        </div>
        <span>{{settings.sections.java}}</span>
    </div>

    <div class="tab" data-tab="about">
        <div class="icon">
            <span class="material-symbols-outlined">info</span>
        </div>
        <span>{{settings.sections.about}}</span>
    </div>
</div>