<div class="filters">
    <div class="filters__scroll-wrapper">
        <div class="flex flex-gap-8 flex-center">
            <span class="material-symbols-outlined">filter_alt</span>
            <h2>{{packs.filters.title}}</h2>
        </div>

        <!-- Табы -->
        <div class="flex flex-gap-8 flex-align-center">
            <span class="material-symbols-outlined">merge_type</span>

            <h3>{{packs.filters.type}}</h3>
        </div>
        <div class="tabs vertical sub scroll-wrap">
            <div class="tab active" data-tab="mods">
                <div class="icon">
                    <span class="material-symbols-outlined">deployed_code_update</span>
                </div>
                <span class="text">{{packs.filters.mods}}</span>
            </div>
            <div class="tab" data-tab="modpacks">
                <div class="icon">
                    <span class="material-symbols-outlined">package_2</span>
                </div>
                <span class="text">{{packs.filters.packs}}</span>
            </div>
            <div class="tab" data-tab="resourcepacks">
                <div class="icon">
                    <span class="material-symbols-outlined">landscape</span>
                </div>
                <span class="text">{{packs.filters.rp}}</span>
            </div>
            <div class="tab" data-tab="shaders">
                <div class="icon">
                    <span class="material-symbols-outlined">light_mode</span>
                </div>
                <span class="text">{{packs.filters.shaders}}</span>
            </div>
        </div>

        <div class="flex flex-gap-8 flex-align-center">
            <span class="material-symbols-outlined">electric_bolt</span>

            <h3>{{packs.filters.loaders}}</h3>
        </div>
        <div class="scroll-wrap">
            <div id="filtersLoaders"></div>
        </div>

        <div class="flex flex-gap-8 flex-align-center">
            <span class="material-symbols-outlined">conversion_path</span>

            <h3>{{packs.filters.versions}}</h3>
        </div>
        <div class="scroll-wrap">
            <div id="filtersVersions" style="position: relative"></div>
        </div>

    </div>
</div>