<div class="tabs main">
    <div class="tab active" data-main-tab="install">
        <div class="icon">
            <span class="material-symbols-outlined">download</span>
        </div>
        <span class="text">Установка</span>
    </div>
    <div class="tab" data-main-tab="update">
        <div class="icon">
            <span class="material-symbols-outlined">update</span>
        </div>
        <span class="text">Обновление</span>
    </div>
    <div class="tab" data-main-tab="create">
        <div class="icon">
            <span class="material-symbols-outlined">add_circle</span>
        </div>
        <span class="text">Создать сборку</span>
    </div>
</div>