/* Common stylings */
#modal-packs .newPackTab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 45%;
    height: 100%;
    padding: 64px 0;
    gap: 8px;
}

#modal-packs .newPackTab > * {
    width: 100%;
}

#modal-packs .layout-tab:has(.newPackTab).active {
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-packs .layout-tab,
#modal-packs .newPackTab {
    height: 100%;
}