.progress-pill {
    background: var(--theme-primaryBgLight);
    border-radius: 8px;
}

.progress-pill, .progress-pill * {
    transition: 0s !important;
}

/* Внутренняя часть */
.progress-pill .inner {
    background: var(--theme-primary);
    overflow: hidden;
    height: 100%;
}

.progress-pill .inner.indeterminate {
    animation: indeterminateAnimation 2s infinite linear;
    transform-origin: 0 50%;
    width: 100% !important;
}

/* Текст и враппер */
.progress-pill .title,
.progress-pill .description,
.progress-pill .percent {
    color: var(--theme-text);
}

.progress-pill .title {
    font-size: 16pt;
    font-weight: 600;
}

.progress-pill .description {
    font-size: 11pt;
}

.progress-pill .wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    top: -54px;
    left: 16px;
    height: 89%;
}

.progress-pill .percent {
    position: relative;
    font-size: 18pt;
    font-weight: 800;
    top: -50px;
    right: 16px;
}

/* Анимация */
@keyframes indeterminateAnimation {
    0% {
        transform: translateX(0) scaleX(0);
    }
    40% {
        transform: translateX(0) scaleX(0.4);
    }
    100% {
        transform: translateX(100%) scaleX(0.5);
    }
}