.spinner {
    border: 6px solid var(--theme-primaryBgLight);
    border-top: 6px solid var(--theme-primary);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    animation: spin 1.3s cubic-bezier(0.5, 0, 0.2, 1) infinite;
}

/* Размеры спиннера */
.spinner.small {
    width: 38px;
    height: 38px;
    border-width: 3px;
}

.spinner.large {
    width: 80px;
    height: 80px;
    border-width: 9px;
}

/* Виды спиннера */
.spinner.transparent {
    border: 6px solid transparent;
    border-top: 6px solid var(--theme-primary);
}

.spinner.mode {
    border: 6px solid var(--bg-sub);
    border-top: 6px solid var(--text-sub);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.line-spinner {
    display: inline-block;
    width: 100%;
    height: 16px;
    border-radius: 9999px;

    background: var(--theme-primaryBgLight);

    background-image: linear-gradient(90deg, var(--theme-primaryBgLight) 0%, var(--theme-primaryBgLighter) 50%, var(--theme-primaryBgLight) 100%) !important;
    filter: brightness(115%);
    background-position: 0 0;
    animation: gradAnim 3s linear infinite normal;
}

.line-spinner.custom-select {
    height: 100%;
    width: max-content;
    flex-grow: 1;
    pointer-events: none;
}

.line-spinner.small {
    height: 10px;
}