.update-notify {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 20px 10px;

    position: absolute;
    margin: 0 auto;
    top: 24px;
    left: 0;
    right: 0;
    z-index: 4;

    border-radius: 16px;
    background: var(--theme-primaryBg);
    outline-offset: -4px;
    width: 542px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.update-notify .caption {
    font-size: 16pt;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
}

.update-notify .description {
    font-size: 13pt;
    font-weight: 500;
    color: var(--text-sub);
    text-align: center;
}

.update-notify button {
    font-size: 14pt;
    padding: 8px 26px !important;
    border-radius: 32px !important;
    height: max-content !important;
}