<link rel="stylesheet" href="views/flyout.css"/>

<div class="flyout animate__animated animate__fadeInUp animate__faster">
    <!-- Выбор аккаунта -->
    <div class="custom-select icon-and-description" id="accountSelect" onclick="FrogAccountsUI.open()">
        <img class="icon" style="display: none"/>
        <span class="title">Не выбран</span>
        <span class="description">аккаунт</span>
        <div class="button">
            <span class="material-symbols-outlined">chevron_right</span>
        </div>
    </div>
    <!-- Выбор версии -->
    <div class="custom-select icon-and-description flyout-mode" id="versionSelect" data-mode="idle"
         onclick="FrogVersionsUI.open()">
        <img class="icon" style="display: none"/>
        <span class="title">Не выбрана</span>
        <span class="description">версия игры</span>
        <div class="button">
            <span class="material-symbols-outlined">chevron_right</span>
        </div>
    </div>
    <!-- Прогресс бар -->
    <div class="progress-pill hidden flyout-mode" id="mainProgress" data-mode="progress">
        <div class="inner indeterminate" style="width: 1%;"></div>
        <div class="wrapper">
            <span class="title">Скачиваем что-то...</span>
            <span class="description">Скачиваем что-то...</span>
        </div>
        <span class="percent">100%</span>
    </div>
    <!-- Режим со спиннером -->
    <div class="spinner-wrapper hidden flyout-mode" id="spinnerWrapper_flyout" data-mode="spinner">
        <div class="icon spinner small"></div>
        <span class="title">Мы что-то устанавливаем</span>
    </div>
    <!-- Кнопка запуска игры -->
    <button id="playButton" onclick="FrogFlyout.startSelectedVersion()">
        <span class="material-symbols-outlined">sports_esports</span>
        <span>Играть</span>
    </button>
</div>