<link rel="stylesheet" href="views/flyout.css"/>

<div class="flyout animate__animated animate__fadeInUp animate__faster">
    <!-- Выбор аккаунта -->
    <div class="line-spinner custom-select" id="accountSelectPlaceholder" style="flex-grow: 0.3;"></div>

    <div class="custom-select icon-and-description" id="accountSelect" onclick="FrogAccountsUI.open()"
         style="display: none">
        <img class="icon" style="display: none"/>
        <span class="title">{{commons.notSelected}}</span>
        <span class="description">{{flyout.account}}</span>
        <div class="button">
            <span class="material-symbols-outlined">chevron_right</span>
        </div>
    </div>
    <!-- Выбор версии -->
    <div class="line-spinner custom-select" id="versionSelectPlaceholder"></div>

    <div class="custom-select icon-and-description flyout-mode" id="versionSelect" data-mode="idle"
         onclick="FrogVersionsUI.open()" style="display: none">
        <img class="icon" style="display: none"/>
        <span class="title">{{commons.notSelected}}</span>
        <span class="description">{{flyout.version}}</span>
        <div class="button">
            <span class="material-symbols-outlined">chevron_right</span>
        </div>
    </div>
    <!-- Прогресс бар -->
    <div class="progress-pill hidden flyout-mode" id="mainProgress" data-mode="progress">
        <div class="inner indeterminate" style="width: 1%;"></div>
        <div class="wrapper">
            <span class="title">{{loading.progress}}</span>
            <span class="description">{{loading.progress}}</span>
        </div>
        <span class="percent">0%</span>
    </div>
    <!-- Режим со спиннером -->
    <div class="spinner-wrapper hidden flyout-mode" id="spinnerWrapper_flyout" data-mode="spinner">
        <div class="icon spinner small"></div>
        <span class="title">{{loading.progress}}</span>
    </div>
    <!-- Кнопка запуска игры -->
    <button id="playButton" onclick="FrogFlyout.startSelectedVersion()">
        <span class="material-symbols-outlined">sports_esports</span>
        <span>{{flyout.play}}</span>
    </button>

    <!-- Кнопка завершения игры -->
    <button id="stopGameButton" style="display: none" onclick="FrogStarter.kill()">
        <span class="material-symbols-outlined">stop_circle</span>
        <span>{{flyout.stop}}</span>
    </button>
</div>