<link rel="stylesheet" href="views/news.css"/>

<div class="chip large pill">
    <span class="material-symbols-outlined">newsmode</span>
    <span>{{commons.news}}</span>
</div>
<div class="news-wrapper">
    <div class="news">
        <div class="preloader">
            <div class="spinner"></div>
            <span class="title">{{loading.progress}}</span>
        </div>
        <div class="news-list animate__animated animate__fadeIn animate__faster" style="display: none"></div>
        <div class="news-item placeholder" style="display: none;">
            <span class="title">$1</span>
            <span class="description">$2</span>
            <span class="date">$3</span>
            <div class="link" style="display: none;" onclick="openExternal('$4')">
                <span class="material-symbols-outlined">open_in_new</span>
                <span>{{commons.open}}</span>
            </div>
        </div>
    </div>
</div>