<link rel="stylesheet" href="views/startAnimation.css"/>

<!-- Экран загрузки -->
<div class="loading-screen">
    <img src="./assets/icon.png" alt="FrogLauncher Logo"/>
    <span class="caption">FrogLauncher</span>
    <span class="description">Теперь по-новому</span>
</div>