<div class="title-wrapper animate__animated animate__fadeIn animate__faster">
    <!-- Лого и заголовок -->
    <div class="title flex flex-gap-8 flex-align-center">
        <img src="assets/icon.png" alt="FrogLauncher" width="48" height="48">
        <span>FrogLauncher</span>
    </div>
    <!-- Кнопки сворачивания и закрытия окна -->
    <div class="windowButtons flex flex-gap-8">
        <button class="square small transparent" onclick="FrogUI.minimizeMainWindow()">
            <span class="material-symbols-outlined">minimize</span>
        </button>
        <button class="square small transparent" onclick="FrogUI.maximizeMainWindow()">
            <span class="material-symbols-outlined">crop_square</span>
        </button>
        <button class="square small transparent" onclick="FrogUI.closeMainWindow()">
            <span class="material-symbols-outlined">close</span>
        </button>
    </div>
</div>