<link rel="stylesheet" href="views/versionsPosters.css">

<div class="chip large pill">
    <span class="material-symbols-outlined">bolt</span>
    <span>{{commons.bigUpdates}}</span>
</div>

<div class="versionsPostersWrapper">
    <div class="versionsPosters">
        <div class="item placeholder"
             style="display: none; background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.82), rgb(0, 0, 0)), url('assets/posters/$1.webp');">
            <span class="title">{{commons.version}} $1</span>
            <span class="description">$2</span>
            <button class="square" onclick="FrogStarter.simpleStart('vanilla-$1')">
                <span class="material-symbols-outlined">play_arrow</span>
            </button>
        </div>
    </div>
</div>

<script>
    const versionsPostersData = MESSAGES.versionsPosters;

    function loadVersionsPosters() {
        let placeholder = $(".versionsPosters .item.placeholder")[0].outerHTML;
        placeholder = placeholder.replace(' placeholder', "");
        // По placeholder`у добавляем новые элементы
        versionsPostersData.forEach((ver) => {
            let preparedPlaceholder = placeholder.replaceAll("$1", ver.version).replaceAll("$2", ver.description);
            $(".versionsPosters").append(preparedPlaceholder);
        })

        // Показываем в списке
        $(".versionsPosters .item:not(.placeholder)").show();
    }

    $(function () {
        loadVersionsPosters();
    })
</script>