#modal-accounts {
    position: absolute;
    z-index: 2;

    padding: 12px;

    width: 25vw;
    height: max-content;
    min-height: 50vh;
    max-height: 80vh;

    bottom: calc(12% + 24px);
    left: calc(3% + 6px);

    background: var(--theme-primaryBg);

    display: flex;
    flex-direction: column;
    gap: 12px;
}

#modal-accounts .acc-btns {
    display: flex;
    gap: 6px;
}

#modal-accounts .acc-btns button,
#modal-accounts .addFrog {
    width: 100%;
    padding: 0;
    font-size: 14pt;
    height: 40px;
}

/* Accounts list */
#modal-accounts .accounts-list {
    padding: 4px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: max-content;

    background: var(--theme-primaryBg);
    border-radius: 8px;
}

#modal-accounts .acc-list-wrapper {
    flex-grow: 1;
    overflow: auto;
    height: max-content;
}

/* Accounts list item */
#modal-accounts .accounts-list .item {
    grid-template-columns: max-content 1fr max-content max-content;
    grid-template-rows: max-content max-content;
    gap: 6px;
    grid-template-areas:
    "icon title buttons check"
    "icon description buttons check";

    height: max-content;
    padding: 6px 12px;

    width: 100%;
}

#modal-accounts .accounts-list .item .buttons {
    grid-area: buttons;
    align-self: center;
    justify-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#modal-accounts .accounts-list .item .icon,
#accountSelect .icon {
    position: relative;
    display: inline-block;
}

#modal-accounts .accounts-list .item .icon .avatar,
#accountSelect .icon .avatar {
    object-fit: cover;

    width: 40px;
    height: 40px;
}

#modal-accounts .accounts-list .item .icon .type,
#accountSelect .icon .type {
    border: 2px solid var(--theme-primaryBgLight);
    position: absolute;
    bottom: -6%;
    right: -4%;
    border-radius: 4px;

    width: 18px;
    height: 18px;

    background: var(--theme-primaryBgLight) !important;
}

#modal-accounts .accounts-list .item .check {
    grid-area: check;
    align-self: center;
    justify-self: center;
    color: var(--theme-primary);
}

#modal-accounts .accounts-list .item:not(.active) .check {
    display: none;
}

#modal-accounts .accounts-list .item .buttons button {
    cursor: pointer;

    width: 32px;
    height: 32px;
    padding: 0;
    display: none;
}

#modal-accounts .accounts-list .item .delete:hover * {
    color: var(--error);
}

#modal-accounts .accounts-list .item .edit:hover * {
    color: var(--theme-primary);
}

#modal-accounts .accounts-list .item:not(.active) .delete {
    display: inherit;
}

#modal-accounts .accounts-list .item.active {
    outline: 3px solid var(--theme-primary);
}

/* Add local item */
#modal-accounts .add-local {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    padding: 6px;
    border-radius: 8px;
    gap: 4px;
    clip-path: inset(0 0 0 0);
    transition: clip-path 1s;
}

#modal-accounts .add-local.hidden {
    clip-path: inset(0 0 99px 0);
}

#modal-accounts .add-local input {
    flex-grow: 1;
}