<link rel="stylesheet" href="modals/accounts.css"/>

<div class="modal overlay" id="modal-accounts" style="display: none;">
    <div class="add-local hidden" style="display: none;">
        <input type="text" placeholder="{{accounts.input}}"/>
        <button class="transparent square small" onclick="FrogAccountsUI.addLocalAccount()">
            <span class="icon material-symbols-outlined">add</span>
        </button>
    </div>
    <div class="acc-list-wrapper">
        <div class="accounts-list">
            <div class="item custom-select icon-and-description placeholder" style="display: none" data-type="$5"
                 data-uuid="$3" data-username="$1">
                <div class="icon">
                    <img class="avatar" src="$4" loading="lazy"/>
                    <img class="type microsoft" style="display: none" src="assets/microsoft.webp" loading="lazy"/>
                    <img class="type elyby" style="display: none" src="assets/elyby.webp" loading="lazy"/>
                    <img class="type frog" style="display: none" src="assets/icon.png" loading="lazy"/>
                </div>
                <span class="title">$1</span>
                <span class="description">$2</span>
                <span class="check">
                    <span class="material-symbols-outlined">check</span>
                </span>
                <div class="buttons">
                    <button class="edit square small transparent" style="display: $6;"
                            onclick="FrogSkinsUI.refreshSkinUI('$3'); FrogModals.showModal('frogSkin')">
                        <span class="material-symbols-outlined">edit</span>
                    </button>
                    <button class="delete square small transparent" onclick="FrogAccountsManager.deleteAccount('$3')">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="acc-btns">
        <button onclick="FrogAccountsUI.addMicrosoftAccount()">
            <img src="assets/microsoft.webp" height="24"/>
        </button>
        <button onclick="FrogAccountsUI.showAddLocalAccountUI()">
            {{accounts.offline}}
        </button>
        <button onclick="FrogModals.hideCurrentOverlay(); FrogModals.showModal('elybyLogin')">
            Ely.by
        </button>
    </div>
    <button class="addFrog" onclick="FrogModals.hideCurrentOverlay(); FrogModals.showModal('frogLogin')">{{frogAuth.useButton}}</button>
</div>

<script>
    $(function () {
        $(".flymenu *, .title-wrapper *, #playButton *, #versionSelect *, .layout .content .content-inner, .layout .content .content-inner *").click(function (e) {
            if (FrogModals.isModalShown("accounts")) {
                e.stopPropagation();
                if (this !== e.target) {
                    return;
                }
                FrogModals.hideModal("accounts");
            }
        })
    })
</script>