#modal-content {
    max-height: 100%;
    background: var(--theme-primaryBg);
    padding: 12px;
    border-radius: 12px;
    z-index: 1;
}

#modal-content .scroll-wrap {
    overflow-y: auto;
    max-height: 73vh;
    gap: 12px;
    padding: 10px;
}

#modal-content .scroll-wrap > *:not(:first-child) {
    margin: 16px 0;
}

#modal-content::-webkit-scrollbar-track {
    background: transparent;
}

#modal-content::-webkit-scrollbar {
    width: 8px;
}