<link rel="stylesheet" href="modals/content.css"/>

<div class="modal" id="modal-content" style="display: none">
    <div class="scroll-wrap">
        <%- include('../views/updateNotify'); %>
        <%- include('../views/news'); %>
        <%- include('../views/versionsPosters'); %>
    </div>
</div>