#modal-content {
    overflow-y: auto;
    max-height: 73vh;
    background: var(--theme-primaryBg);
    padding: 18px;
    border-radius: 12px;
}

#modal-content > * {
    margin: 16px 0;
}

#modal-content::-webkit-scrollbar-track {
    background: transparent;
}

#modal-content::-webkit-scrollbar {
    width: 8px;
}