<link rel="stylesheet" href="modals/elybyLogin.css"/>

<div class="modal overlay centered" id="modal-elybyLogin" style="display: none;">
    <div class="flex flex-gap-8 flex-align-center">
        <button class="square transparent small" onclick="FrogModals.hideModal('elybyLogin')">
            <span class="material-symbols-outlined">west</span>
        </button>
        <h1>{{elyby.title}}</h1>
    </div>
    <input type="text" class="login" placeholder="{{elyby.login}}"/>
    <input type="password" class="password" placeholder="{{elyby.password}}"/>
    <input type="text" class="totp" placeholder="{{elyby.totp}}"/>
    <h5>{{elyby.totpNotify}}</h5>

    <h4 class="error" style="color: var(--error); display: none;"></h4>

    <button class="loginBtn" onclick="FrogElybyLoginUI.login()">{{commons.login}}</button>
</div>

<script src="modals/elybyLogin.js"></script>