#modal-frogRegister {
    padding: 18px;

    width: 36vw;
    height: max-content;

    background: var(--theme-primaryBg);

    display: flex;
    flex-direction: column;
    gap: 12px;
}

#modal-frogRegister button.loginBtn {
    border-radius: 9999px;
    width: 100%;
}