<link rel="stylesheet" href="modals/servers.css"/>

<div class="modal" id="modal-servers" style="display: none;">
    <div class="flex flex-gap-8 flex-align-center">
        <span class="material-symbols-outlined">dns</span>
        <h1>{{servers.title}}</h1>
    </div>
    <div class="serversListWrapper">
        <div class="serversList">
            <div class="item placeholder" data-ip="$6" style="display: none !important;">
                <div class="icon">
                    <img alt="$1" src="$5" loading="lazy"/>
                    <div class="status"></div>
                </div>
                <div class="flex flex-col flex-justify-center flex-grow cap-div">
                    <div class="flex flex-row flex-align-center flex-gap-8 caption">
                        <span class="caption">$1</span>
                        <div class="chip small pill"></div>
                    </div>
                    <span class="description">$2</span>
                </div>
                <div class="flex flex-col flex-justify-center flex-gap-4">
                    <div class="version">
                        <span class="material-symbols-outlined" style="font-size: 10pt">conversion_path</span>
                        <span>$3</span>
                    </div>
                    <div class="ip">
                        <span class="material-symbols-outlined" style="font-size: 10pt">dns</span>
                        <span>$4</span>
                    </div>
                </div>
                <div class="flex items-center flex-justify-center copy-btn">
                        <span class="material-symbols-outlined"
                              onclick="FrogServersUI.copyServerIP(`$6`)">content_copy</span>
                </div>
                <div class="flex items-center flex-justify-center play-btn">
                        <span class="material-symbols-outlined" style="font-size: 26pt;"
                              onclick="FrogServersUI.playOnServer(`$6`, `$7`)">play_arrow</span>
                </div>
            </div>
        </div>
    </div>
    <span class="disclaimer">{{servers.disclaimer}}</span>
    <div class="link" onclick="openExternal('https://t.me/seeeroy')">
        <span class="material-symbols-outlined">open_in_new</span>
        <span>{{servers.link}}</span>
    </div>
</div>