<div class="tabs">
    <div class="tab active" data-tab="mods">
        <div class="icon">
            <span class="material-symbols-outlined">deployed_code_update</span>
        </div>
        <span class="text">{{packs.filters.mods}}</span>
    </div>
    <div class="tab" data-tab="worlds">
        <div class="icon">
            <span class="material-symbols-outlined">globe_asia</span>
        </div>
        <span class="text">{{packManager.tabs.worlds}}</span>
    </div>
    <div class="tab" data-tab="resourcepacks">
        <div class="icon">
            <span class="material-symbols-outlined">landscape</span>
        </div>
        <span class="text">{{packs.filters.rp}}</span>
    </div>
    <div class="tab" data-tab="shaders">
        <div class="icon">
            <span class="material-symbols-outlined">light_mode</span>
        </div>
        <span class="text">{{packs.filters.shaders}}</span>
    </div>
    <!--<div class="tab" data-tab="datapacks">
         <div class="icon">
             <span class="material-symbols-outlined">inventory_2</span>
         </div>
         <span class="text">{{packManager.tabs.datapacks}}</span>
     </div>-->
    <div class="tab" data-tab="updates">
        <div class="icon">
            <span class="material-symbols-outlined">update</span>
        </div>
        <span class="text">{{packManager.tabs.updates}}</span>
    </div>
    <div class="flex-grow"></div>
    <button class="outline small add">
        <span class="material-symbols-outlined">add</span>
        <span>{{packManager.tabs.addFile}}</span>
    </button>

    <button class="small install">
        <span class="material-symbols-outlined">download</span>
        <span>{{packManager.tabs.install}}</span>
    </button>
</div>